*{
    padding: 0;
    margin: 0;
}


body{
    background: #1d1e21;
    font-family:  'Roboto', sans-serif;
    display: flex;
}

h1{
    color: whitesmoke;
    margin: 15px auto;
    text-align: center;

}


h1 spam{
    background:#33353b;
    border-radius: 10px;
    color: #05a5db;
}

h2{
    color: whitesmoke;
    opacity: 0.8;
    text-align: center;

}

h2 a{
    color: #05a5db;
}

.codigo{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.botones{
    /* background: #000; */
    width:50%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
}

.botones form button{
    background:#05a5db;
    border: 0;
    border-radius: 10px;
    width: 180px;
    height: 50px;
    color: whitesmoke;
    font-size: 20px;

}

.botones form button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width:900px){
    .botones{
        margin: 20px auto;
    }

    body{
        margin: 50px auto;
    }
}

@media screen and (max-width:500px){
    .botones form button{
        width: 150px;
        margin: auto 10px;
    }
}

@media screen and (max-width:400px){
    h1{
        width: 70%;
        font-size: 25px;
    }

    h1 spam{
        font-size: 25px;
    }

    h2{
        font-size: 20px;
    }
    .botones form button{
        width: 120px;
        height: 40px;
        margin: auto 10px;
    }
}